# Variáveis de Ambiente do Firebase Cloud Firestore (Nuu Prensado)
VITE_FIREBASE_API_KEY=AIzaSyBmg6E18Q_PkOE1wGW1Zqtc6Qbu7_ZoKq4
VITE_FIREBASE_AUTH_DOMAIN=nuuprensado.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=nuuprensado
VITE_FIREBASE_STORAGE_BUCKET=nuuprensado.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=74166433459
VITE_FIREBASE_APP_ID=1:74166433459:web:403575faad33e0d05322c6
